#!/usr/bin/env bash


# Tools
alias python='python3.7'
alias pip=pip3

# Directories
alias d="cd $DEV"
alias h="cd $HOME"
alias work="cd $WORK"
alias w=work
alias p="cd $PERSONAL"
alias github="cd $GITHUB"
alias gh=github
alias tools="$DEV/tools"
alias tool=tools
alias docs="$DEV/docs"
alias doc=docs
alias dotfiles="$HOME/dotfiles"

# Misc commands
alias ll="ls -alh --group-directories-first"
alias nyan="nyancat"
alias sf="screenfetch"
alias ds="du -h --max-depth=1"
alias gitpersonal="git config user.name 'Dan Quist' && git config user.email 'dan.quist@gmail.com'"

# ZSH only
if [ -n "$ZSH_VERSION" ]; then
  alias -s md=$EDITOR
  alias zc="vi ~/.zshrc"        # Edit zsh config
  alias zcr="source ~/.zshrc"   # Reload zsh config
  alias ohmyzsh="vi ~/.oh-my-zsh"

# Bash only
elif [ -n "$BASH_VERSION" ]; then
  alias bc="vi ~/.bashrc"       # Edit bash config
  alias bcr="source ~/.bashrc"  # Reload bash config
fi

# Local additions - Don't edit below this line
if [[ -f "$HOME/.aliases.local" ]]; then
  source "$HOME/.aliases.local"
fi
