#!/usr/bin/env bash

init_ssh() {
  eval `ssh-agent -s` > /dev/null 2>&1
  ssh-add .ssh/dquist_rsa > /dev/null 2>&1
}

function zle-line-init zle-keymap-select {
  VIM_PROMPT="%{$fg_bold[yellow]%} [% NORMAL]%  %{$reset_color%}"
  RPS1="${${KEYMAP/vicmd/$VIM_PROMPT}/(main|viins)/} $EPS1"
  zle reset-prompt
}

vi_mode() {
  bindkey '^P' up-history
  bindkey '^N' down-history
  bindkey '^?' backward-delete-char
  bindkey '^h' backward-delete-char
  bindkey '^w' backward-kill-word
  bindkey '^r' history-incremental-search-backward

  precmd() { RPROMPT="" }

  zle -N zle-line-init
  zle -N zle-keymap-select

  bindkey -v
  export KEYTIMEOUT=1
}

# This fixes zsh fuzzy search which breaks with the vi-mode plugin
# start typing + [Up-Arrow] - fuzzy find history forward
fix_zsh_history() {
  if [[ "${terminfo[kcuu1]}" != "" ]]; then
    autoload -U up-line-or-beginning-search
    zle -N up-line-or-beginning-search
    bindkey "${terminfo[kcuu1]}" up-line-or-beginning-search
  fi
  # start typing + [Down-Arrow] - fuzzy find history backward
  if [[ "${terminfo[kcud1]}" != "" ]]; then
    autoload -U down-line-or-beginning-search
    zle -N down-line-or-beginning-search
    bindkey "${terminfo[kcud1]}" down-line-or-beginning-search
  fi
}

setup_env() {
  init_ssh
  vi_mode
  fix_zsh_history
}

# Local additions - Don't edit below this line
if [[ -f ".functions.local" ]]; then
  source ".functions.local"
fi
