#!/usr/bin/env bash

init_ssh() {
  if [[ $0 == "-zh" ]] || [[ $0 == 'init_ssh' ]]; then
    SSH_KEY="$HOME/.ssh/dquist_rsa"
    FP=$(ssh-keygen -lf $SSH_KEY  | awk '{print $2}')
    ssh-add -l | grep -q $FP || ssh-add $SSH_KEY
  fi
}

wsl_only() {
  # Checks if running under WSL
  # 'uname -v' will return the kernel version in the form of
  #   #379-Microsoft Wed Mar 06 19:16:00 PST 2019
  if [[ $(uname -v | sed -rE 's/^#[0-9]{3,}-(\S+).+/\1/') == "Microsoft" ]]; then
    alias pshell="powershell.exe"
    alias cmd="cmd.exe"
  fi
}

into() {
  mkdir $1
  cd $1
}

gsize() {
  git gc
  size=$(git count-objects -vH | grep size-pack | awk '{ print $2, $3 }' | xargs)
  echo 'Repo size: $size'
}

setup_common() {
  init_ssh
  wsl_only

  umask 027

  # Append history instead of replacing
  shopt -s histappend

  # Remove history file size
  HISTFILESIZE=1000000
  HISTSIZE=1000000

  # Store commands on one line
  shopt -s cmdhist

  # Ignore space and duplicate commands
  HISTCONTROL=ignoreboth

  # Ignore these commands
  HISTIGNORE='ls:bg:fg:history'

  # Store history immediately instead of on exit
  PROMPT_COMMAND='history -a'
}

# Local additions - Don't edit below this line
if [[ -f ".functions.local" ]]; then
  source ".functions.local"
fi
